{
  "printWidth": 120,
  "tabWidth": 2,
  "tabs": false,
  "semicolon": true,
  "singleQuote": true,
  "quoteProps": "preserve",
  "trailingComma": "es5",
  "bracketSpacing": true,
  "bracketSameLine": false,
  "arrowParens": "always",
  "endOfLine": "lf"
}
